BQ_PROJECT_ID=your-gcp-project-id

# The datasets that are allowed to be queried. This is a comma-separated list of dataset IDs.
# if you want to allow all datasets, set this to "*" or leave it empty.
BQ_ALLOWED_DATASETS=dataset1,dataset2,dataset3
BQ_MAX_BYTES_BILLED=1073741824

APP_HOST=localhost
APP_PORT=8000
